<footer>
  <div class="grid">
    <div class="box">
      <div class="content">
          <span>Nota:</span> Esta publicación es difundida por la Autoridad Marítima de la República Dominicana, (<span>Armada de República Dominicana</span>), a través de su Servicio Hidrográfico. Para consultar otras informaciones relacionadas, así como para informar sobre situaciones que afecten a la seguridad marítima, consulte: <span>htpps: www.marina.mil.do/avisosnauticos/</span>"
      </div>
    </div>
    <div class="box">
      <div class="title">CONÓCENOS</div>  
      <div class="content">Servicio Hidrográfico, ARD., Av. Iberoamericana, s/n, edif. Seguridad del Faro a Colón, ARD, Los Mameyes, SDE, RD. Código Postal: <span>11701</span></div>
    </div>
    <div class="box">
      <div class="title">CONTÁCTANOS</div> 
      <div class="content">Teléfono: <span>829-520-0777</span> <br> Email: <span>avisosnauticosshard&#64;academianaval.edu.do</span></div>
    </div>
  </div>
</footer>