<mat-toolbar>
  <div>
    <img class="logo" src="imgs/logo-avisos-nauticos.png" alt="Logo de Avisos Náuticos" routerLink="/home"> 
  </div>
  <span class="yellow-title" routerLink="/home">Servicio Hidrográfico y Oceanográfico de la <br> <span class="blue-title">Armada de la República Dominicana</span></span>
  <span class="spacer"></span>
  <div class="buttons-toolbar">
      <button mat-flat-button class="see-notices" routerLink="/nautical-notices">Ver avisos</button>
      <button mat-flat-button class="report-notice">Reportar aviso</button>
  </div>
</mat-toolbar> 