<app-toolbar></app-toolbar>

<div class="page">
    <div class="container-header">
        <span class="title">Avisos Náuticos</span>
        <img src="/svg/navigation-rose.svg" alt="Rosa náutica">
    </div>
</div>

<div class="center-table">
    <div class="elevation mat-elevation-z8">
        
        <div class="table-top-bar">
            <div class="title-table">Listado de Avisos</div>
            
            <div class="filters-container">
                <mat-form-field appearance="outline" class="filter-field dense-field">
                    <mat-label>Año</mat-label>
                    <mat-select [(value)]="selectedYear">
                        @for (year of years; track year) {
                            <mat-option [value]="year">{{year}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="filter-field dense-field">
                    <mat-label>Mes</mat-label>
                    <mat-select [(value)]="selectedMonth">
                         @for (month of months; track month) {
                            <mat-option [value]="month">{{month}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="custom-table">

                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element" class="bold-text"> {{element.number}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ZONA </th>
                    <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DETALLE </th>
                    <td mat-cell *matCellDef="let element" class="detail-cell"> {{element.detail}} </td>
                </ng-container>

                <ng-container matColumnDef="see">
                    <th mat-header-cell *matHeaderCellDef class="icon-header"> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="showDetails(element.number)" class="blue-icon-btn" aria-label="Ver documento">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No hay datos disponibles</td>
                </tr>
            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<app-footer></app-footer>